@model SchoolSystem.Models.ForgotPassword
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<main class="mdl-layout__content">
    <div class="mdl-card mdl-card__login mdl-shadow--2dp">
        <div class="mdl-card__supporting-text color--dark-gray">
            <div class="mdl-grid">
                @using (Html.BeginForm("Login", "ForgotPassword", FormMethod.Post))
                {
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="mdl-card__title-text text-color--smooth-gray">DARKBOARD</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="login-name text-color--white">Forgot password?</span>
                        <span class="login-secondary-text text-color--smoke">Enter your email below to recieve your password</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                            <label class="mdl-textfield__label" for="e-mail">Email</label>
                            @Html.TextBoxFor(x => x.Email, "", new { @class = "mdl-textfield__input", id = "e-mail" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
                        <div class="mdl-layout-spacer"></div>

                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised color--light-blue">
                            SEND PASSWORD
                        </button>

                    </div>
                }

            </div>
        </div>
    </div>
</main>
