@model IEnumerable<Yansi_KalmTraining.Model.Viewmodel.CompanyModel>

@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Privacy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
